version: '3.9'

services:
  api:
    build: .
    ports:
      - '3000:3000'
    env_file: .env
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/tasks_manager?schema=public
    depends_on:
      - db
    command: sh -c "npx prisma migrate deploy && npm run start"
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: tasks_manager
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
